*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient( to right,
     hsl(200, 100%, 50%),
      rgb(175, 223, 219)
      );
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      overflow: hidden;
      background: url('https://images.unsplash.com/photo-1521459467264-802e2ef3141f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3024&q=80') ;
      background-size: 50%;
}
.label {
    position: absolute;
    top: 19vmin;
    left: 46%;
    font-size: 3vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.clock{
    width: 80vmin;
    height: 80vmin;
    margin: auto;
    background: #fff url('https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3358&q=80') center center;
    border: 3vmin solid #000;
    border-radius: 50%;
    margin-top: 3vmin;
    box-shadow: 
        inset 40px 40px 90px rgba(0,0,0,.2),
        inset 10px 10px 30px rgba(0,0,0,.5), 
        20px 20px 30px rgba(0,0,0,.4),
        40px 40px 60px rgba(0,0,0,.4);
    position: relative;
    z-index: 1;


    }

.clock::after{
    content: ' ';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;

}


.clock .number{
    --rotation:0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
}
.clock .number1{
    --rotation: 30deg;
}
.clock .number2{
    --rotation: 60deg;
}
.clock .number3{
    --rotation: 90deg;
}
.clock .number4{
    --rotation: 120deg;
}
.clock .number5{
    --rotation: 150deg;
}
.clock .number6{
    --rotation: 180deg;
}
.clock .number7{
    --rotation: 210deg;
}
.clock .number8{
    --rotation: 240deg;
}
.clock .number9{
    --rotation: 270deg;
}
.clock .number10{
    --rotation: 300deg;
}
.clock .number11{
    --rotation: 330deg;
}
.clock .number12{
    --rotation: 360deg;
}


.clock .hand{
    --rotation:0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    border: 1px solid white;
    width: 10px;
    height: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 10;

}

.clock .hand.second{
    width: 6px;
    height: 40%;
    background-color:  red;
    
}

.clock .hand.minute{
    width: 8px;
    height: 43%;
    background-color: black;
}

.clock .hand.hour{
    width:11px;
    height:30%;
    background-color: black;

}








